<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mercado Liebre</title>
</head>
<body>

    <header>
        <div>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
        </div>
        <div class="search-bar"><input type="text" value="Buscar productos, marcas y más">
        <button><i class="fa-solid fa-magnifying-glass"></i></button></div>
        <h2><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
        <nav class="menu">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="/signup">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/shopping-cart">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
    </header>

    <main>
        <img src="/images/img-home-banner.jpg" alt="Banner de publicitario con productos" class="banner">

        <section>
            <h2>Basado en tu última visita</h2>

            <div class="producto">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de una cafeta de hogar">
                    <div class="descripcion-producto">
                        <div class="icon-truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precios"><strong>Precio:</strong> $6.770</p>
                            <p class="descuento">40 % OFF</p>
                        </div>
                        <p class="texto-descripcion">Cafetera Moulinex</p>
                    </div>
            </div>

            <div class="producto">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de una Macbook Pro del 2019">
                    <div class="descripcion-producto">
                        <div class="icon-truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precios"><strong>Precio:</strong> $230.000</p>
                            <p class="descuento">20 % OFF</p>
                        </div>
                        <p class="texto-descripcion">MacBook Pro 2019</p>
                    </div>
            </div>

            <div class="producto">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del teléfono Samsung Galaxy S10">
                    <div class="descripcion-producto">
                        <div class="icon-truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precios"><strong>Precio:</strong> $70.500</p>
                            <p class="descuento">10 % OFF</p>
                        </div>
                        <p class="texto-descripcion">Samsung Galaxy S10</p>
                    </div>
            </div>

            <div class="producto">
            <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen del Smart TV de 43 pulgadas">
                <div class="descripcion-producto">
                    <div class="icon-truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-descuento">
                        <p class="precios"><strong>Precio:</strong> $23.200</p>
                        <p class="descuento">5 % OFF</p>
                    </div>
                    <p class="texto-descripcion">SmartTv Samsung 43"</p>
                </div>
            </div>
        </section>

        <section>
            <h2>Ofertas</h2>
        Acá va el duplicado de arriba
        </section>
    </main>
    
    <footer>
        <div class="cards-footer">
            <div class="icons-footer"><i class="fa-solid fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="cards-footer">
            <div class="icons-footer"><i class="fa-solid fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="cards-footer">
            <div class="icons-footer"><i class="fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>

            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>