<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Creá una cuenta en Mercado Liebre</title>
</head>
<body>
    <header class="main-header">
        <div class="top-app-bar">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="An image of Mercado Liebre's logo">

                <div class="search-bar">
                    <input type="text" placeholder="Buscar productos, marcas y más">
                    <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>

            <div class="app-bar-copy">
                <h2><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
            </div>
        </div>

        <div class="hamburguer-menu">
            <i class="fa-solid fa-bars"></i>
        </div>

        <nav class="navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="#">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/" method="get" class="form">
            <input type="text" name="name" placeholder="Nombre y apellido">
            <input type="text" name="user" placeholder="Nombre de usuario">
            <input type="password" name="password" placeholder="Contraseña">

            <label for="birth-date">Fecha de nacimiento</label>
            <input type="date" name="date" id="birth-date" value="dd / mm / yyy">
            <input type="text" name="address" placeholder="Domicilio">

            <label for="rol">Perfil del usuario</label>
            <input type="radio" name="rol" id="rol" value="Comprador">
            <input type="radio" name="rol" id="rol" value="Vendedor">

            <label for="interests">Intereses</label>
            <input type="checkbox" name="interests" value="Electro">
            <input type="checkbox" name="interests" value="Moda">
            <input type="checkbox" name="interests" value="Hogar">
            <input type="checkbox" name="interests" value="Juguetería">
            <input type="checkbox" name="interests" value="Vida sana">

            <button type="submit">Enviar</button>
        </form>
    </main>

    <footer class="main-footer">
        <div class="footer-card">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="footer-card">
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="footer-card">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>

        <p class="copyright-message">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>