/* MAIN */

.main-forms {
    display: flex;
    justify-content: center;
}
    
    /* LOGIN CONTAINER */

    .form {
        padding: 32px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        width: 760px;
        min-width: 328px;
    }

    .form input {
        border: none;
        background-color: #fff;
        padding: 16px;
        border-radius: 4px;
        width: 100%;
    }

    .form label {
        font-weight: 500;
    }

    .form input[type="checkbox"] {
        width: fit-content;
    }

    .form input[type="radio"] {
        width: fit-content;
    }

    /* INPUT GROUP */

    .input-group {
        display: flex;
        width: fit-content;
        justify-content: center;
    }

    .input-group label {
        font-weight: 400;
        font-size: 14px;
        margin-left: 8px;
    }

    /* BUTTONS FORM */

    .buttons-form {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .buttons-form button {
        padding: 16px;
        color: #fff;
        background-color: #1259c3;
        border: none;
        border-radius: 4px;
        width: 50%;
    }

    .buttons-form button[type="submit"] {
        margin-right: 8px;
    }

    .buttons-form button[type="reset"] {
        background-color: #666666;
    }

    .buttons-form button[type="submit"]:hover {
        background-color: #0022AA;
    }

    /* LINKS INSIDE BUTTONS */

    .buttons-form button a {
        text-decoration: none;
        color: #fff;
    }