/* UNIVERSAL SELECTOR */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* HTML & BODY */

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #ebebeb;
}

/* HEADER */

.main-header {
    background-color: #EAC926;
    padding: 20px;
}

    /* HAMBURGUER MENU */

    .hamburguer-menu {
        text-align: center;
    }

    .hamburguer-menu i {
        background-color: #03264C;
        color: #fff;
        padding: 16px;
        width: fit-content;
        border-radius: 8px;
        font-size: 24px;
    }

    /* APP BAR COPY */

    .app-bar-copy {
        text-align: center;
        margin: 16px;
    }

    /* NAVBAR */

    .navbar {
        display: none;
    }

    .navbar ul {
        list-style: none;
    }

    /* LOGO */

    .logo {
        width: 50%;
        height: 50%;
    }

/* BANNER */

.hero-banner {
    width: 100vw;
}

/* MAIN */

main {
    width: 90%;
}

    /* SECTION: LAST VIEWED */

    .last-viewed {
        margin-left: 16px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    /* H3 INSIDE SECTION: LAST VIEWED */

    .last-viewed h3 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 8px;
    }

    /* PRODUCT CARD */

    .product-card {
        background-color: #fff;
        max-width: 300px;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .product-card img {
        width: 100%;
        height: 100%;
    }

    /* PRODUCT DESCRIPTION */

    .product-description {
        text-align: left;
        border-top: 1px solid #ebebeb;
        padding: 15px;
    }

    /* TRUCK ICON INSDE PRODUCT DESCRIPTION */

    .truck-icon {
        border: solid 1px #39b54a;
        padding: 8px;
        width: fit-content;
        border-radius: 100%;
    }

    .truck-icon i {
        color: #39b54a;
    }

    /* PRODUCT PRIZE */

    #product-prize {
        font-size: 18px;
    }

    /* PRODUCT DISCOUNT */

    #product-discount {
        color: #39b54a;
    }

    /* P INSIDE PRODUCT CARD */

    .product-card p {
        font-size: 16px;
    }

    /* PRODUCT NAME */

    #product-name {
        display: none;
    }

/* FOOTER */

.main-footer {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 16px;
}

    /* FOOTER CARD */

    .footer-card {
        text-align: center;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
    }

    /* H3 INSIDE FOOTER CARD */

    .footer-card h3 {
        font-size: 18px;
    }

    /* COPYRIGHT MESSAGE */

    .copyright-message {
        margin-left: 16px;
    }

    /* ICONS INSIDE FOOTER */

    .footer-card i {
        color: #03264C;
        font-size: 2em;
        margin-bottom: 10px;
    }

/* MEDIA QUERIES */

    /* TABLET VIEW */

    @media (min-width: 361px) {

        /* NAVBAR */

        .navbar {
            display: block;
        }

        /* HAMBURGUER MENU */

        .hamburguer-menu {
            display: none;
        }

        /* PRODUCT NAME */

        #product-name {
            display: block;
        }

        /* PRODUCT CARD */

        .product-card {
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }

        }

    /* DESKTOP VIEW */

    @media (min-width: 769px) {

    }