<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
    <title>Creá una cuenta en Mercado Liebre</title>
</head>
<body>
    <%- include('./partials/header') %>

    <main class="main-forms">
        <form action="/" method="get" class="form">
            <label for="account">Datos de la cuenta</label>
            <input type="text" name="name" placeholder="Nombre y apellido" required>
            <input type="email" name="user" placeholder="Correo electrónico" required>
            <input type="password" name="password" placeholder="Contraseña" required>

            <label for="birth-date">Fecha de nacimiento</label>
            <input type="date" name="date" id="birth-date" value="dd / mm / yyy" required>
            <input type="text" name="address" placeholder="Domicilio" required>

            <label for="rol">Perfil del usuario</label>

            <div class="input-group">
                <input type="radio" name="rol" id="Comprador" value="Comprador" required>
                <label for="Comprador">Comprador</label>
            </div>

            <div class="input-group">
                <input type="radio" name="rol" id="Vendedor" value="Vendedor" required>
                <label for="Vendedor">Vendedor</label>
            </div>

            <label for="interests">Intereses</label>

            <div class="input-group">
                <input type="checkbox" name="interests" value="Electro">
                <label for="Electro">Electro</label>
            </div>

            <div class="input-group">
                <input type="checkbox" name="interests" value="Moda">
                <label for="Moda">Moda</label>
            </div>

            <div class="input-group">
                <input type="checkbox" name="interests" value="Hogar">
                <label for="Hogar">Hogar</label>
            </div>

            <div class="input-group">
                <input type="checkbox" name="interests" value="Juguetería">
                <label for="Juguetería">Juguetería</label>
            </div>

            <div class="input-group">
                <input type="checkbox" name="interests" value="Vida sana">
                <label for="Vida sana">Vida sana</label>
            </div>

            <div class="buttons-form">
                <button type="submit">Crear cuenta</button>
                <button type="reset">Reiniciar registro</button>
            </div>
        </form>
    </main>

    <footer class="main-footer">
        <div class="cards-footer-container">
            <div class="footer-card">
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div class="footer-card">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div class="footer-card">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>

        <p class="copyright-message">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>